/* @import "colors-waybar.css"; */
@import '../../.cache/wal/colors-waybar.css';

* {
	border-radius: 3px;
	border: none;
}

window{
  all:unset;
	font-size: 20px;
	font-family: "Roboto Mono Medium";
	/*background-color: rgba(50, 50, 50, 0.9);*/
	border-radius: 17px;
	border-bottom: 3px solid orange;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.89)) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
  background-clip: padding-box, border-box;
  opacity: 0.85;
}

#entry{
	padding: 0.15em;
	border-radius: 17px;
}

#entry:selected {
	/*background-color: @color1;*/
	background: linear-gradient(30deg, @color4, @color5);
}

/*#text: selected {*/
/*	color: #333333;*/
/*}*/

#input{
	background-color: rgba(50, 50, 50, 0);
	color: #FFFFFF;
	padding: 0.15em;
	border-radius: 17px;
	border: 4px solid transparent;
}

image{
	margin-left: .25em;
	margin-right: .25em;
}
