@define-color foreground #c2c7c4;
@define-color background #0e2015;
@define-color cursor #c2c7c4;

@define-color color0 #0e2015;
@define-color color1 #7D807A;
@define-color color2 #959771;
@define-color color3 #BDC275;
@define-color color4 #A5A593;
@define-color color5 #BFC1A1;
@define-color color6 #CECFAF;
@define-color color7 #c2c7c4;
@define-color color8 #5d7264;
@define-color color9 #7D807A;
@define-color color10 #959771;
@define-color color11 #BDC275;
@define-color color12 #A5A593;
@define-color color13 #BFC1A1;
@define-color color14 #CECFAF;
@define-color color15 #c2c7c4;
