@define-color foreground #c4c3c4;
@define-color background #131215;
@define-color cursor #c4c3c4;

@define-color color0 #131215;
@define-color color1 #C8552D;
@define-color color2 #9D6B58;
@define-color color3 #B7876F;
@define-color color4 #2E539A;
@define-color color5 #556999;
@define-color color6 #3868DC;
@define-color color7 #c4c3c4;
@define-color color8 #645a6f;
@define-color color9 #C8552D;
@define-color color10 #9D6B58;
@define-color color11 #B7876F;
@define-color color12 #2E539A;
@define-color color13 #556999;
@define-color color14 #3868DC;
@define-color color15 #c4c3c4;
