@define-color foreground #c6c7c6;
@define-color background #1e221c;
@define-color cursor #c6c7c6;

@define-color color0 #1e221c;
@define-color color1 #718E70;
@define-color color2 #8C9D70;
@define-color color3 #ACC677;
@define-color color4 #729C88;
@define-color color5 #90AE8D;
@define-color color6 #A0AA92;
@define-color color7 #c6c7c6;
@define-color color8 #677762;
@define-color color9 #718E70;
@define-color color10 #8C9D70;
@define-color color11 #ACC677;
@define-color color12 #729C88;
@define-color color13 #90AE8D;
@define-color color14 #A0AA92;
@define-color color15 #c6c7c6;
