@define-color foreground #c2c7c7;
@define-color background #0e1f20;
@define-color cursor #c2c7c7;

@define-color color0 #0e1f20;
@define-color color1 #2C5D4C;
@define-color color2 #4F6B4E;
@define-color color3 #5F8B39;
@define-color color4 #37935D;
@define-color color5 #5D9A50;
@define-color color6 #9DAD55;
@define-color color7 #c2c7c7;
@define-color color8 #5d7072;
@define-color color9 #2C5D4C;
@define-color color10 #4F6B4E;
@define-color color11 #5F8B39;
@define-color color12 #37935D;
@define-color color13 #5D9A50;
@define-color color14 #9DAD55;
@define-color color15 #c2c7c7;
