@define-color foreground #c3c6c6;
@define-color background #101e1b;
@define-color cursor #c3c6c6;

@define-color color0 #101e1b;
@define-color color1 #A9674D;
@define-color color2 #578451;
@define-color color3 #6B8D66;
@define-color color4 #A0976E;
@define-color color5 #527688;
@define-color color6 #5F9AA3;
@define-color color7 #c3c6c6;
@define-color color8 #5d716d;
@define-color color9 #A9674D;
@define-color color10 #578451;
@define-color color11 #6B8D66;
@define-color color12 #A0976E;
@define-color color13 #527688;
@define-color color14 #5F9AA3;
@define-color color15 #c3c6c6;
