@define-color foreground #c3c8c6;
@define-color background #0f241e;
@define-color cursor #c3c8c6;

@define-color color0 #0f241e;
@define-color color1 #285F4F;
@define-color color2 #566351;
@define-color color3 #4E884D;
@define-color color4 #609360;
@define-color color5 #97A564;
@define-color color6 #B9C266;
@define-color color7 #c3c8c6;
@define-color color8 #5e746d;
@define-color color9 #285F4F;
@define-color color10 #566351;
@define-color color11 #4E884D;
@define-color color12 #609360;
@define-color color13 #97A564;
@define-color color14 #B9C266;
@define-color color15 #c3c8c6;
