@import "wal/colors-waybar.css";

* {
	border: none;
	border-radius: 10px;
	font-family: "JetbrainsMono Nerd Font" ;
	font-size: 16px;
	min-height: 4px;
}

	window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
	

#window {
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
        color: transparent;
	background: transparent;
}
#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: #201c1c;
	transition: none;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;
}

#workspaces button {
	transition: none;
	color: @color13;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#workspaces button.occupied {
	transition: none;
	color: #FFFFFF;
	background: transparent;
	font-size: 4px;
}

#workspaces button.active {
	color: #FFFFFF;
        /*border-top: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;*/
	/*border-radius: 3px;*/
}

#workspaces button:hover {

	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
	border-color: #E8A2AF;
	color: #E8A2AF;
}

#workspaces button.active:hover {
    color: #E8A2AF;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 12px;
	padding-left: 10px;
	padding-right: 18px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 16px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#battery.charging, #battery.plugged {
	color: @color13;
    	background-color: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#battery.critical:not(.charging) {
    background-color: #E3242B;
    color: #FFFFFF;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#clock {
	margin-top: 8px;
	margin-left: 8px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	padding: 4px 10px;
	border: 2.5px solid transparent;
	background-clip: padding-box, border-box;
}

#memory {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 12px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#cpu {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 14px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#custom-launcher {
	font-size: 24px;
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #89DCEB;
    background: #201c1c;
}

#custom-power {
	font-size: 20px;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #F28FAD;
}

#custom-wallpaper {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
}

#custom-spotify {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: @color13;
	background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#idle_inhibitor.deactivated {
	margin-top: 8px;
        margin-left: 8px;
        padding-left: 10px;
        padding-right: 18px;
        margin-bottom: 0px;
        border-radius: 10px;
        transition: none;
        color: @color13;
        background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#idle_inhibitor.activated {
	margin-top: 8px;
        margin-left: 8px;
        padding-left: 10px;
        padding-right: 18px;
        margin-bottom: 0px;
        border-radius: 10px;
        transition: none;
        color: @color20;
        background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: #FFFFFF;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}

#temperature {
	 margin-top: 8px;
        margin-left: 8px;
        padding-left: 10px;
        padding-right: 14px;
        margin-bottom: 0px;
        border-radius: 10px;
        transition: none;
        color: @color13;
        background: #201c1c;
	background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	color: @color13;
	border: 2.5px solid transparent;
    	background-clip: padding-box, border-box;

}
