/* @import '../../.cache/wal/colors-waybar.css'; */
@import 'colors-waybar.css';

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrains Mono";
    font-size: 14px;
    min-height: 20px;
    box-shadow: none;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5); /* solid background across whole bar */
    color: @color4;
    border: none;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window,
#workspaces,
#pulseaudio,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#tray,
#custom-power,
#custom-wallpaper,
#custom-spotify,
#idle_inhibitor,
#temperature {
    background: transparent;
    color: @color4;
    margin: 0px 0px;
    padding: 0 10px;
    border: none;
    border-radius: 0px;
    transition: none;
    box-shadow: none;
}

#workspaces button {
    margin: 0 4px;
    padding: 4px 6px;
    border: none;
    background: transparent;
    box-shadow: none;
}

#workspaces button.visible {
    color: #ffffff;
    box-shadow: inset 0 -2px 0 0 #ffffff; /* simulate underline */
}

#network {
    background: transparent;
    color: @color4;
    margin: 0px 4px;
    margin-right: 20px;
    padding: 0 10px;
    border: none;
    border-radius: 0px;
    transition: none;
    box-shadow: none;
    margin-left: -6px;
}

#custom-launcher {
    background: transparent;
    color: @color4;
    margin: 0px 0px;
    margin-left: 14px;
    padding: 0 10px;
    border: none;
    border-radius: 0px;
    transition: none;
    box-shadow: none;
}

/* Optional hover effect */
#workspaces button:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#backlight:hover,
#clock:hover,
#memory:hover,
#cpu:hover,
#custom-launcher:hover,
#custom-spotify:hover,
#idle_inhibitor:hover,
#temperature:hover {
    color: #FFFFFF;
}

#idle_inhibitor.activated {
  color: #FFFFFF;
}

/* Battery critical blink still works */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: #E3242B;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#workspaces button {
    margin: 4px 4px; /* Adjust this value to control spacing */
    padding: 1px 5px; /* Adjust this value to control spacing */
}
