@import "colors-waybar.css";

.client-image {
    margin: 15px;
}

.index{
  opacity: 0;
}

/*.client-index {*/
/*    margin: 6px;*/
/*    padding: 5px;*/
/*    font-size: 30px;*/
/*    font-weight: bold;*/
/*    border-radius: 15px;*/
/*    border: 3px solid rgba(80, 90, 120, 0);*/
/*    background-color: rgba(20, 20, 20, 0);*/
/*}*/

.client {
    border-radius: 15px;
    border: 3px solid rgba(80, 90, 120, 1.0);
    background-color: rgba(25, 25, 25, 1.0);
}

.client:hover {
    background-color: rgba(40, 40, 50, 1);
}

.client_active {
    border: 3px solid rgba(255, 255, 255, 1.0);
}

.workspace {
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    border: 3px solid rgba(70, 80, 90, 1.0);
    background-color: rgba(20, 20, 25, 1.0);
}

.workspace_special {
    border: 3px solid rgba(0, 255, 0, 1.0);
}

.workspace_active {
    border: 5px solid rgba(255, 255, 255, 1.0);
}

.workspaces {
    margin: 10px;
}

window {
    /*order-radius: 15px;
    opacity: 0.85;
    border: 3px solid @color4;*/
    /*border-radius: 10px;*/
	  background: linear-gradient(#201c1c, #201c1c) padding-box, linear-gradient(30deg, @color4, @color5) border-box;
	  color: @color13;
	  border: 3px solid;
	  /*background-clip: padding-box, border-box;*/
}

.monitor {
  opacity: 0.9;
}
