/* @import "colors-waybar.css"; */
@import '../../.cache/wal/colors-waybar.css';

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.1);
}

button {
	color: @color1;
   font-size:20px;

    background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-style: solid;
	background-color: rgba(12, 12, 12, 0.6);
  
	border: 3px solid @color1;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:focus,
button:active,
button:hover {
    color: #FFFFFF;
	/*background-color: rgba(12, 12, 12, 0.5);*/
	border: 3px solid #FFFFFF;

}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
	margin: 10px;
	border-radius: 20px 0px 0px 20px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
	margin: 10px;
	border-radius: 0px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
	margin: 10px;
	border-radius: 0px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
	margin: 10px;
	border-radius: 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
	margin: 10px;
	border-radius: 0px 20px 20px 0px;
}
