@import url('../../.cache/wal/colors-waybar.css');
@define-color noti-border-color alpha(@color4, 1);
@define-color noti-bg alpha(@background, 0.5);
@define-color noti-bg-hover-alt alpha(@background, 0.5);
@define-color noti-bg-alt alpha(@background, 0.5);
@define-color noti-fg @color4;
@define-color noti-bg-hover alpha(@background, 0.5);
@define-color noti-bg-focus @color4;
@define-color noti-close-bg @color4;
@define-color noti-close-bg-hover @color4;
@define-color noti-urgent @color5;
@define-color bg-selected alpha(@background, 1);
:root {
  --border-radius: 6px;
  --cc-bg: @noti-bg;

  --widget-background: alpha(@noti-bg, 0.5);
  --noti-bg-alpha: 0.6;

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  border-radius: 6px;
  border: var(--border);
  border-width: 0.1em;
  border-color: @noti-border-color;
}

.widget-title > label {
  font-size: 1rem;
}

.widget-dnd > switch {
  border: 2px solid @color4;
}

.widget-dnd > switch slider {
  background: @noti-fg;
}

.widget-dnd > switch:checked {
  background: alpha(white, 0.5);
}

.widget-dnd > label {
  font-size: 1rem;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.close-button {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  background: transparent;
  color: @noti-fg;
  transition: all 0.2s ease;
}

.close-button:hover {
  background: transparent;
  color: red;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.notification {
  border: var(--border);
  border-width: 0.1em;
  border-color: @noti-border-color;
}

.notification-default-action,
.notification-action {
  background: @noti-bg;
  color: @noti-fg;
  border-width: 6px;
  border-color: @noti-border-color;
}

.notification-default-action:hover,
.notification-action:hover {
  --gtk-icon-effect: none;
  background: var(--widget-background);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
  background: transparent;
  border-width: 6px;
  border-color: @noti-border-color;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: var(--widget-background);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}

image {
  border-radius: 6px;
  padding: 0 0px 0 0;
}
