format = """
[](#A9674D)\
$os\
$username\
[](bg:#578451 fg:#A9674D)\
$directory\
[](fg:#578451 bg:#6B8D66)\
$git_branch\
$git_status\
[](fg:#6B8D66 bg:#A0976E)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#A0976E bg:#527688)\
$docker_context\
[](fg:#527688 bg:#5F9AA3)\
$time\
[ ](fg:#5F9AA3)\
"""

# Disable the blank line at the start of the prompt
# add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "bg:#A9674D"
style_root = "bg:#A9674D"
format = '[$user ](fg:#000000 $style)'
disabled = false

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:#A9674D"
disabled = true # Disabled by default

[directory]
style = "bg:#578451"
format = "[ $path ](fg:#000000 $style)"
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[c]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[docker_context]
symbol = " "
style = "bg:#527688"
format = '[ $symbol $context ](fg:#000000 $style)'

[elixir]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg: #000000$style)'

[elm]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[git_branch]
symbol = ""
style = "bg:#6B8D66"
format = '[ $symbol $branch ](fg:#000000 $style)'

[git_status]
style = "bg:#6B8D66"
format = '[$all_status$ahead_behind ](fg:#000000 $style)'

[golang]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[gradle]
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[haskell]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[java]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[julia]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[nodejs]
symbol = ""
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[nim]
symbol = "󰆥 "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[rust]
symbol = ""
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[scala]
symbol = " "
style = "bg:#A0976E"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#5F9AA3"
format = '[ 󰋑 $time ](fg:#000000 $style)'
