format = """
[](#C8552D)\
$os\
$username\
[](bg:#9D6B58 fg:#C8552D)\
$directory\
[](fg:#9D6B58 bg:#B7876F)\
$git_branch\
$git_status\
[](fg:#B7876F bg:#2E539A)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#2E539A bg:#556999)\
$docker_context\
[](fg:#556999 bg:#3868DC)\
$time\
[ ](fg:#3868DC)\
"""

# Disable the blank line at the start of the prompt
# add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "bg:#C8552D"
style_root = "bg:#C8552D"
format = '[$user ](fg:#000000 $style)'
disabled = false

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:#C8552D"
disabled = true # Disabled by default

[directory]
style = "bg:#9D6B58"
format = "[ $path ](fg:#000000 $style)"
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[c]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[docker_context]
symbol = " "
style = "bg:#556999"
format = '[ $symbol $context ](fg:#000000 $style)'

[elixir]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg: #000000$style)'

[elm]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[git_branch]
symbol = ""
style = "bg:#B7876F"
format = '[ $symbol $branch ](fg:#000000 $style)'

[git_status]
style = "bg:#B7876F"
format = '[$all_status$ahead_behind ](fg:#000000 $style)'

[golang]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[gradle]
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[haskell]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[java]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[julia]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[nodejs]
symbol = ""
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[nim]
symbol = "󰆥 "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[rust]
symbol = ""
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[scala]
symbol = " "
style = "bg:#2E539A"
format = '[ $symbol ($version) ](fg:#000000 $style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#3868DC"
format = '[ 󰋑 $time ](fg:#000000 $style)'
