format = """
[](#718E70)\
$os\
$username\
[](bg:#8C9D70 fg:#718E70)\
$directory\
[](fg:#8C9D70 bg:#ACC677)\
$git_branch\
$git_status\
[](fg:#ACC677 bg:#729C88)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$nim\
$rust\
$scala\
[](fg:#729C88 bg:#90AE8D)\
$docker_context\
[](fg:#90AE8D bg:#A0AA92)\
$time\
[ ](fg:#A0AA92)\
"""

# Disable the blank line at the start of the prompt
# add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "bg:#718E70"
style_root = "bg:#718E70"
format = '[$user ](fg:#FFFFFF $style)'
disabled = false

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "bg:#718E70"
disabled = true # Disabled by default

[directory]
style = "bg:#8C9D70"
format = "[ $path ](fg:#FFFFFF $style)"
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[c]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[docker_context]
symbol = " "
style = "bg:#90AE8D"
format = '[ $symbol $context ](fg:#FFFFFF $style)'

[elixir]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg: #FFFFFF$style)'

[elm]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[git_branch]
symbol = ""
style = "bg:#ACC677"
format = '[ $symbol $branch ](fg:#FFFFFF $style)'

[git_status]
style = "bg:#ACC677"
format = '[$all_status$ahead_behind ](fg:#FFFFFF $style)'

[golang]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[gradle]
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[haskell]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[java]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[julia]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[nodejs]
symbol = ""
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[nim]
symbol = "󰆥 "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[rust]
symbol = ""
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[scala]
symbol = " "
style = "bg:#729C88"
format = '[ $symbol ($version) ](fg:#FFFFFF $style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#A0AA92"
format = '[ 󰋑 $time ](fg:#FFFFFF $style)'
